/* Tuomas Tani */

footer {
    border-style: groove;
    position:absolute;
    bottom:0;
    width: 100%;
}

footer span {
    text-align: center;
    width: 100%;
    display: block;
    color: black
  }

  div {
      display: block;
      border-style: groove;
      
  }